@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    background-color: #0B1227;
  }

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }

  .btn{min-height: initial !important; height: initial !important}
}

@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }

  .n1-border-footer{border: 1px solid rgba(255, 255, 255, 0.10);}

  .n1-container{     
    max-width: 1440px;
    margin: 0 auto;
  }

  .n1-btn-header-item--rounded{
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .n1-header__desktop{
    background: linear-gradient(180deg, #0C1F59 -18.75%, rgba(12, 31, 89, 0.00) 100%);
    backdrop-filter: blur(135px);
    color: #fff;
  }

  .n1-header__navlink-children--image{
    transition: all .175s ease-out;
  }

  .n1-header__navlink-children:hover .n1-header__navlink-children--image{
    transform: scale(1.02);
    transition: all .275s ease-in;
  }

  .n1-header__navlink-children-title{white-space: initial !important;}

  .n1-header__navlink--active:before,
  .n1-header__navlink--active:after{
    content: "";
    display: block;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 10px;
    position: absolute;
    background: #fff; 
    transition: all .2s linear;
  }

  .n1-header__navlink--active:before{
    top: 10px;
    right: 10px;
    transform: rotate(-45deg); 
  }

  .n1-header__navlink--active:after{
    position: absolute;
    top: 10px;
    right: 3px;
    transform: rotate(45deg); 
  }    

  .moveFromTop:hover { transform: translateY(20px) }

  /*  ESTILIZAÇÃO COLLAPSE DO MENU MOBILE ______________________________________________________________| INICIAL | */
  .n1-menu-mobile__input{
    min-height: initial !important;
  }

  .n1-menu-mobile.collapse{transition: overflow .175s linear !important}

  .n1-menu-mobile.collapse[open] > :where(.n1-menu-mobile__content), 
  .collapse-open > :where(.n1-menu-mobile__content), 
  .n1-menu-mobile:focus:not(.collapse-close) > :where(.n1-menu-mobile__content), 
  .n1-menu-mobile:not(.collapse-close) > :where(input[type="checkbox"]:checked ~ .n1-menu-mobile__content), 
  .n1-menu-mobile:not(.collapse-close) > :where(input[type="radio"]:checked ~ .n1-menu-mobile__content){
    padding-bottom: initial !important;

    border-top: 1px solid #DFDFE4;
    padding-top: 10px;    
  }

  .n1-menu-mobile.collapse-arrow > .n1-menu-mobile__title.collapse-title:after{
    height: 10px;
    width: 10px;
    top: 20px;    
  }

  .n1-menu-mobile.collapse[open].collapse-arrow > .n1-menu-mobile__title.collapse-title:after, 
  .collapse-open.collapse-arrow > .n1-menu-mobile__title.collapse-title:after, 
  .n1-menu-mobile.collapse-arrow:focus:not(.collapse-close) > .n1-menu-mobile__title.collapse-title:after, 
  .n1-menu-mobile.collapse-arrow:not(.collapse-close) > input[type="checkbox"]:checked ~ .n1-menu-mobile__title.collapse-title:after, 
  .n1-menu-mobile.collapse-arrow:not(.collapse-close) > input[type="radio"]:checked ~ .n1-menu-mobile__title.collapse-title:after{
    width: 10px;
    height: 2px;
    transform: rotate(0);
  }

  .n1-menu-mobile__title{
    padding: 13px 15px 13px 20px !important;
    min-height: initial !important;
    color:  #585858;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height:  16.8px;  
    
    @apply font-archimoto-medium;
  }

  .n1-menu-mobile__title:not(.is-children){padding:  10px 15px 10px 20px !important;}
  .n1-menu-mobile__title:not(.is-children):after{content: none !important;}

  .n1-menu-mobile__title.is-children ~ .n1-menu-mobile__content ul{ 
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
  }

  .n1-menu-mobile__title.is-children ~ .n1-menu-mobile__content ul li .n1-menu-mobile input{min-height: initial !important;} 
  
  .n1-menu-mobile__title.is-children ~ .n1-menu-mobile__content ul li .n1-menu-mobile .collapse-title{
    padding: 0 !important;  
    padding-left: 5px !important;
    color:  #585858;
    font-family: "Noto Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;    
  }

  .n1-menu-mobile__title.is-children ~ .n1-menu-mobile__content ul li .n1-menu-mobile .collapse-title > svg,
  .n1-menu-mobile__title.is-children ~ .n1-menu-mobile__content ul li .n1-menu-mobile .n1-menu-mobile__content{display: none;}

  /*  ESTILIZAÇÃO COLLAPSE DO MENU MOBILE ______________________________________________________________| FINAL | */

  .n1-banner-btn__dot:disabled .n1-banner-btn__dot--item{
    @apply w-32 duration-200
  }


  /*  ESTILIZAÇÃO HOVER DO CARRROSSEL TEXTTOPWIDTHCAROUSEL __________________________________________| INICIAL | */
  .n1-text-top-width-carousel__link .n1-text-top-width-carousel__overlay{transition: all 1s linear;}

  .n1-text-top-width-carousel__link:hover .n1-text-top-width-carousel__overlay{
    animation: overlayCard .275s linear both;
    visibility: visible;
    opacity: 1;
    transition: all 1s linear;
  }

  @keyframes overlayCard {
    0%{background: transparent;}
    100%{background: linear-gradient(8deg, rgba(60, 203, 218, 0.01) -32.53%, rgba(60, 203, 218, 0.27) 63.83%, rgba(60, 203, 218, 0.40) 276.77%);}
  }  

  .n1-text-top-width-carousel__link:hover .n1-text-top-width-carousel__title{
    animation: overlayText .275s linear forwards;
  }


  @keyframes overlayText {
    0%{background: transparent;}
    100%{
      background: linear-gradient(180deg, #69C7F0 0%, rgba(255, 255, 255, 0.00) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  /*  ESTILIZAÇÃO HOVER DO CARRROSSEL TEXTTOPWIDTHCAROUSEL __________________________________________| FINAL | */  

  /*  ESTILIZAÇÃO ANIMAÇÃO DE ESCRITA DE TEXTO ______________________________________________________________| INICIAL | */
  .n1-typing span {
    display: grid;
    color: #3CCBDA;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    overflow: hidden; 
    border-right: 0.15em solid #3CCBDA;
    white-space: nowrap; 
    max-width:max-content;
    animation: typingText 2.3s steps(120, end) alternate infinite, blinkBorder .75s step-end infinite;
  }
  
  @keyframes typingText {
    from {width: 0;}
    to {width: 100%;}
  }
  
  @keyframes blinkBorder {
    from,to {border-color: transparent;}
    50% {border-color: #3CCBDA;}
  } 

  /*  ESTILIZAÇÃO ANIMAÇÃO DE ESCRITA DE TEXTO ______________________________________________________________| FINAL | */ 


  /*  ESTILIZAÇÃO ANIMAÇÃO DA MARCA ______________________________________________________________________| INICIAL | */  

  .animation-section-brand{
    animation: slide 10s linear infinite;
  }

  @keyframes slide {
    0% { transform: translateX(0);}
    100% { transform: translateX(-100%);}
  } 
  /*  ESTILIZAÇÃO ANIMAÇÃO DA MARCA ______________________________________________________________________| FINAL | */ 

  /*  ESTILIZAÇÃO IMAGEM PLATAFORMAS ______________________________________________________________________| INICIAL | */ 
  .n1-textwithimageanimation__image.is-active{
    animation: scaleImage 2s linear infinite alternate;
  }

  @keyframes scaleImage {
    0% {transform: scale(.7);}
    100% {transform: scale(1);} 
  }  
  /*  ESTILIZAÇÃO IMAGEM PLATAFORMAS ______________________________________________________________________| FINAL | */  

  .n1-cases-card.is-active .n1-cases-card__item .n1-cases-card__logo{
    width: 0%;
    /* /* opacity: 0; */
    visibility: hidden; 
    transition: all 1s linear;
  }

  .n1-cases-card.is-active .n1-cases-card__item{
    opacity: 0;
    visibility: hidden; 
    transition: all .175s linear;
  }

  .n1-cases-card.is-active .n1-cases-card__item--hover{
    visibility: visible ;
    opacity: 1;
    width: 100%;
    transition: all .575s linear;
  }  

  .n1-cases-card__item{
    scroll-snap-align: start !important;
  }


  .n1-mosaic__title.is-white *,
  .n1-mosaic__title.is-white > *,
  .n1-mosaic__title.is-white > * > *,
  .n1-mosaic__title.is-white > * > * > *{
    color: #0C1F59 !important;
  }

  .n1-mosaic__text.is-white *,
  .n1-mosaic__text.is-white > *,
  .n1-mosaic__text.is-white > * > *,
  .n1-mosaic__text.is-white > * > * > *{
    color: #0C1F59 !important;
  }

  .n1-mosaic__text.is-primary *,
  .n1-mosaic__text.is-primary > *,
  .n1-mosaic__text.is-primary > * > *,
  .n1-mosaic__text.is-primary > * > * > *{
    color: #ffffff !important;
  } 
  
  
  .n1-text-top-width-image__name,
  .n1-text-top-width-image__title,
  .n1-text-top-width-image__text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;    
  }

  
  .n1-text-icon-image__container.is-active:after{
    content: "";
    border-radius: var(--radius-default, 1105.45px);
    opacity: 0.3;
    background: radial-gradient(105.4% 101.68% at 89.06% 88.91%, #3CCBDA 43.01%, #0C1F59 88.98%);
    filter: blur(82px);
    width: 1105.45px;
    height: 419.496px;
    transform: rotate(-1.426deg);
    position: absolute;
    top: 0;
    right: 40%;            
  }

  .n1-text-icon-image__container.is-active--rigth-0:after{
    content: "";
    right: 0%;
  }

  .n1-text-icon-image__image.is-active:after{
    content: "";
    position: absolute;
    top: -60px;
    border-radius: var(--radius-default, 641.325px);
    opacity: 0.25;
    background: radial-gradient(105.4% 101.68% at 89.06% 88.91%, #3CCBDA 43.01%, #0C1F59 88.98%);
    filter: blur(82px);
    width: 641.325px;
    height: 641.325px;
    transform: rotate(-15.911deg);
    right: -30px;    
  }

  .n1-mosaic__link.is-primary a{
    background-color: transparent !important;
    border: 1px solid #ffffff;
  } 

  .n1-mosaic__link.is-primary a span{
    color: #ffffff !important;
  }  

  .n1-mosaic__link.is-primary a div path:nth-of-type(1){
    fill: transparent !important;
  }  

  .n1-mosaic__link.is-primary a div path:nth-of-type(2){
    fill: #ffffff !important;
  }  

  .n1-footer__bg-social:before{
    content: "";
    border-radius: 50px;
    padding: 2px;
    background: linear-gradient(45deg,#FFFFFF, #3CCBDA);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .n1-footer__overlay--bottom-left{
    bottom: -15%;
    left: -590px;
    position: absolute;
    background: radial-gradient(46.49% 46.49% at 49.96% 53.51%, rgba(59, 200, 216, 0.50) 0%, rgba(59, 200, 216, 0.00) 100%);    
  }

  .n1-footer__overlay--bottom{
    bottom: -40%;
    left: 15%;
    position: absolute;
    background: radial-gradient(46.49% 46.49% at 49.96% 53.51%, rgba(59, 200, 216, 0.50) 0%, rgba(59, 200, 216, 0.00) 100%)    
  }  
  
  .n1-footer__overlay--bottom-right{
    bottom: 0%;
    right: -390px;
    position: absolute;
    background: radial-gradient(46.49% 46.49% at 49.96% 53.51%, rgba(248, 188, 51, 0.50) 0%, rgba(248, 188, 51, 0.00) 100%);
  }

  .n1-footer__overlay--middle-right{
    top: 0;
    right: -390px;
    position: absolute;
    background: radial-gradient(46.49% 46.49% at 49.96% 53.51%, rgba(59, 200, 216, 0.50) 0%, rgba(59, 200, 216, 0.00) 100%) 
  }

  @media (max-width: 426px){
    .n1-cases__info{margin-bottom: 15px;}
    .n1-cases__icon-mobile{
      position: absolute;
      right: 20px;
      bottom: 20px;      
    }
    .n1-cases-card__tags{grid-template-columns: repeat(4,auto) !important;}
  } 

  @media (max-width: 376px){
    .n1-cases-card__item .n1-cases-card__item--hover{width: 300px !important;}
    .n1-cases-card__item{width: 91.333% !important;}
    .n1-cases__info{margin-bottom: initial;}
    .n1-cases__icon-mobile{
      position: initial;
      right: initial;
      bottom: initial;      
    }    
    .n1-cases-card__tags{grid-template-columns: repeat(3,auto) !important;}
    .n1-text-width-custom__title{width: 90% !important;}
  }

  @media (max-width: 320px){
    .n1-cases-card__item .n1-cases-card__item--hover{width: 250px !important;}
    .n1-cases-card__tags{
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }  

  @media (min-width: 426px) and (max-width: 768px){
    .n1-cases-card__mobile{max-width: 100%;}
    .n1-cases-card__carousel{
      column-gap: 15px;
      max-width: 100%;
      width: 100% !important;      
    }

    .n1-cases-card__item{width:95% !important;}

    .n1-cases-card__tags{grid-template-columns: repeat(4,1fr) !important;}

  }

  @media (max-width: 768px){
    .n1-banner-btn__dot:disabled .n1-banner-btn__dot--item{@apply w-20}

    .animation-section-brand{animation: slide 20s linear infinite;}

    /* .n1-text-top-width-carousel__dots{
      gap: initial !important;
    } */

    .n1-text-icon-image__image.is-active:after{
      top: 0;
      right: 30px;
      width: 100%;
      height: 100%;
    }    

    .n1-text-icon-image__container.is-active:after{
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;      
    }

    .n1-footer__overlay--bottom-left{
      transform: rotate(90deg);
      top: -510px;
      left: -200px;
      bottom: initial;    
    }

    .n1-footer__overlay--bottom{
      background: radial-gradient(46.49% 46.49% at 49.96% 53.51%, rgba(59, 200, 216, 0.50) 0%, rgba(59, 200, 216, 0.00) 100%);
      bottom: initial;
      top: 250px;
      left: -65%;
      right: 0px;
      transform: rotate(90deg);      
    }

    .n1-footer__overlay--middle-right{
      transform: rotate(90deg);
      top: 710px;  
      left: 280px;
      z-index: -1;                      
    }

    .n1-footer__overlay--bottom-right{
      transform: rotate(90deg);
      right: initial;
      left: -10px;
      bottom: 30px;      
    }    
  }

}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal;
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}